### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
pd.DataFrame({"Total Players":[len(purchase_data["SN"].unique())]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
itemCount = len(purchase_data['Item ID'].unique())
avgPrice = round(purchase_data['Price'].mean(),2)
numPurchases = len(purchase_data['Purchase ID'])
tRevenue = purchase_data['Price'].sum()

summaryDf = pd.DataFrame({
     'Number of Unique Items':[itemCount],
    'Average Price':[avgPrice],
    'Number of Purchase':[numPurchases],
    'Total Revenue':[tRevenue]
})
summaryDf.style.format({
    'Average Price' : '${0:,.2f}',
    'Total Revenue' : '${0:,.2f}'
})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
gender_group = purchase_data.groupby(['Gender'])

gender_demo = pd.DataFrame({})

gender_demo['Total Count'] = gender_group['SN'].nunique()
gender_demo['Percentage of Players'] = 100*gender_demo['Total Count']/gender_demo['Total Count'].sum()

gender_demo.sort_values(by=['Total Count'],ascending=False).head().style.format({
   'Percentage of Players' : '{0:.2f}%'
})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
gender_summary = pd.DataFrame({})

gender_summary['Purchase Count'] = gender_group['Purchase ID'].count()
gender_summary['Average Purchase Price'] = gender_group['Price'].mean()
gender_summary['Total Purchase Value'] = gender_group['Price'].sum()
gender_summary['Avg Total Purchase per Person'] = gender_summary['Total Purchase Value']/gender_group['SN'].nunique()

gender_summary.head().style.format({
    'Average Purchase Price' : '${0:,.2f}',
    'Total Purchase Value' : '${0:,.2f}',
    'Avg Total Purchase per Person' : '${0:,.2f}'
})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [29]:
bins =[0,9,14,19,24,29,34,39,999]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=bin_labels, include_lowest=True)
age_group = purchase_data.groupby('Age Range')

age_summary = pd.DataFrame({})

age_summary['Total Count'] = age_group['SN'].nunique()
age_summary['Percentage of Players'] = 100*age_summary['Total Count']/age_summary['Total Count'].sum()

age_summary.style.format({
    'Percentage of Players' : '{0:,.2f}%'
})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
age_summary = pd.DataFrame({})

age_summary['Purchase Count'] = age_group['Purchase ID'].count()
age_summary['Average Purchase Price'] = age_group['Price'].mean()
age_summary['Total Purchase Value'] = age_group['Price'].sum()
age_summary['Average Total Purchase per Person'] = age_summary['Total Purchase Value']/age_group['SN'].nunique()

age_summary.style.format({
    'Average Purchase Price' : '${0:,.2f}',
    'Total Purchase Value' : '${0:,.2f}',
    'Average Total Purchase per Person' : '${0:,.2f}'
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:
sn_group = purchase_data.groupby('SN')

top_spenders = pd.DataFrame({})

top_spenders['Purchase Count'] = sn_group['Purchase ID'].count()
top_spenders['Average Purchase Price'] = sn_group['Price'].mean()
top_spenders['Total Purchase Value'] = sn_group['Price'].sum()


top_spenders.sort_values(by=['Total Purchase Value'],ascending=False).head().style.format({
    'Average Purchase Price' : '${0:,.2f}',
    'Total Purchase Value' : '${0:,.2f}'
})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
pop = purchase_data[['Item ID','Item Name','Price']]
pop_group = pop.groupby(['Item ID','Item Name'])

pop_summary = pd.DataFrame({})

pop_summary['Purchase Count'] = pop_group['Item ID'].count()
pop_summary['Item Price'] = pop_group['Price'].mean()
pop_summary['Total Purchase Value'] = pop_group['Price'].sum()

pop_summary.sort_values(by=['Purchase Count'],ascending=False).head().style.format({
    'Item Price' : '${0:,.2f}',
    'Total Purchase Value' : '${0:,.2f}'
})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
pop_summary.sort_values(by=['Total Purchase Value'],ascending=False).head().style.format({
    'Item Price' : '${0:,.2f}',
    'Total Purchase Value' : '${0:,.2f}'
})